---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list
- apiGroups:
  - ""
  resources:
  - pods/eviction
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - configuration.net.nvidia.com
  resources:
  - nicconfigurationtemplates
  - nicdevices
  - nicfirmwaresources
  - nicfirmwaretemplates
  - nicinterfacenametemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - configuration.net.nvidia.com
  resources:
  - nicconfigurationtemplates/finalizers
  - nicdevices/finalizers
  - nicfirmwaresources/finalizers
  - nicfirmwaretemplates/finalizers
  verbs:
  - update
- apiGroups:
  - configuration.net.nvidia.com
  resources:
  - nicconfigurationtemplates/status
  - nicdevices/status
  - nicfirmwaresources/status
  - nicfirmwaretemplates/status
  - nicinterfacenametemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - maintenance.nvidia.com
  resources:
  - nodemaintenances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
